.about {
    background-color: black;
    color: white;
    height: 80vh;
    width: 100vw;
}

.about-container {
    border: 2px solid red;
    height: 100%;
    display: flex;
    align-items: center;
}

.aboutme {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}