.about {
    background-color: black;
    color: white;
    height: 80vh;
    width: 100vw;
}

.about-container {
    border: 2px solid red;
    height: 100%;
    display: flex;
    align-items: center;
}